@page {
    margin: 1cm 1cm;
}

@media print
{

/* -- Typography -- */
body {
    /*background: #FFF;
    color: #000;
    font-family: Tahoma, serif;
    line-height: 1.2;
    width:100%;*/
    width: 100%; 
	border: 0; 
	margin: 0 5%; 
	padding: 0; 
	float: none !important; 
}

/*body {margin:0; padding:0; line-height: 1.4em; color: #000;display: block;}*/

p, table, ul, ol, dl, blockquote, pre, code, form {
    margin: 0 0 1em;
}

h1,h2,h3,h4,h5 {
    font-weight: normal;
    margin: 2em 0 0.5em;    
}

h1 { font-size: 2em; margin: 2em 0 0.25em; }
h2 { font-size:1.7em; }
h3 { font-size:1.5em; }
h4 { font-size:1.2em; }
h5 { font-size:1em; }

/* -- Hide screen specific elements -- */
.header-top-right,.header-menu,#MiddleSubMenu, #Breadcrumb, #RightMainContent, #BreakcrumdBottom, .gotop, #set-home, .breadcrumbs-bottom, /* page */
 .home-search-box, #MiddleRightMainContent, .adshared, #article, .footer-banner, #inter, .footer-middle, .footer-bottom-top-1, .col_right, /*home page */
 #TopContentLeft, #TopContentRight, .othernews, #panelCommentUpdate, .detail-tools, #MiddleMainContent, #lnkNewOther, /* detail article */
.Header, #emailregister, .bottom-right, .other-product, #view_other_product, #autoplay, #product-detail .link,             /* list product */
#wrap-comment,   /* detail project */
#plOtherBrokers, .broker-contact, .pm-footer,
#divReply, .faq-detail-new-reply-button,
.fengshui-information-header-background img,
.pt-sub-col-l,.tab-hb, #bannerfix
{display:none !important;}


.body-left, /*common*/
.tin-danh-cho-ban, .tin-danh-cho-ban .vip1, .tin-danh-cho-ban .vip2, .tin-danh-cho-ban .vip3, .tin-danh-cho-ban .vip5, #TopRightMainContent, .t_left, .col_cent /*homepage*/
#LeftMainContent, .contentDetail, .container-default, .site-center, .tc-tin-3cot-tit1, .div_2col, .parent-main-left, .Main, .tc-duan-tin h2,
.p-main-text, .tc-duan-tin, .buttom-title-by-category, .footer-bottom,
#product-detail  /* detail product */
{  width: 100% !important; }

.p-main
{  width: 98% !important;margin-right: 7px; }

.tc-tin-3cot-tit1-left, .tc-duan-tin .tintuc-row1{ width: 50% !important; }
.tc-tin-3cot-tit1-right, .tc-duan-tin-thumnai{ width: 47% !important;margin-left: 10px; }
.tc-duan-tin-thumnai .tc-tin-3cot-tit1-right-link2{width: 95% !important;clear: both;}
.tc-tin-3cot-tit1-right-link{width: 70% !important;}
.tc-tin-3cot-tit1-left img{  width: 90% !important; }
.tc-tin-3cot-tit1-right-link2{width: 45% !important; float: left;}

.fengshui-information-background .tc-tin-3cot-tit1-right-link2{  width: 95% !important; }

.tt-thumb-img{width: 32% !important; }
.tt-thumb-cnt{ width: 65% !important;}
/* common */
ul {list-style-type:square;}

table td, table th, .hb-data {border: none !important;} 
/* home page */

/*product */
.list-img #thumbs li.current img{border:none !important;}
/*project*/
.editor{display:block !important;}

.broker, .tintuc-row1 , .vip0, .vip1, .vip2, .vip3, .vip4, .vip5,
.div-listcompany .c2, .tc-duan-tin, .div-company .c2, .div-company .c3, .buttom-title-by-category, .tintuc-list
{page-break-inside:avoid; }

#broker_intro{page-break-inside:auto !important; }

.div-listcompany .c2, table.batquai, table.batquai td,  table.batquai tr{ border: 1px solid #008b33 !important;}

h1, h2
{ font-size: 1.2em;margin: 5px;color: #008b33  !important;font-weight: bold;}
.tit_l a span, .c11 a, h2.c11, .c1, .div-company .c11 a, .batquai1{ color: #008b33  !important;padding: 0;}
.div-company .d1, .enterprisedetail, .news-slide-show-item .news-list{ border: none !important; }
.div-company h1, .a11 h2, .borderbold{border-bottom:  1px solid #008b33 !important; }
.div-company .d11{width: 18% !important;}
.div-company .d12{width: 75% !important;}
.tintuc-row1 .tc-img{width: 20% !important;}
.project-by-cate-list .desc{width: 78% !important;}
.fengshui-information-background{width: 30% !important;}
.fengshui-information-header-link{ font-size: 1em;}
.fengshui-information-header-background div{padding-top: 0 !important; }
.news-list-thumb li, .news-list ul li{width: 95% !important;}
.group-news-border-backgroup{width: 45% !important;}
#Bds-Intro{ float: none !important;clear: both;}
.footer-bottom-end-row1 .add-left, .footer-bottom-end-row1 .add-right{width: 40% !important;}
}